<div>
	<div  class="plan-question">
		<h1>常见问题</h1>
		<ul>
			<li  trackevent="" tracklabel="问题1点击" class="question-pose">Q1

				<i>若遇不幸怎么申请互助？</i>
				<i  class="question-arrow question-arrow"></i>
			</li>
			<li  trackevent="" tracklabel="问题2点击" class="question-pose">Q2

				<i>小孩还没有身份证，怎么加入？</i>
				<i  class="question-arrow question-arrow"></i>
			</li>
			<li  trackevent="" tracklabel="少儿计划问题4点击" class="question-pose">Q3 快到17岁了加入后还能延续多久？

				<i  class="question-arrow question-arrow"></i>
			</li>
			<li  trackevent="" tracklabel="少儿计划问题5点击" class="question-pose">Q4 宝健康互助是保险吗？

				<i  class="question-arrow question-arrow"></i>
			</li>
		</ul>
	</div>
	<div  class="qus-tel">
		<div  class="que-tel-line">
			<a  href="tel:400-686-1266" class="tel-question">
				<em  class="tel-one"></em>
				<span >电话咨询</span>
			</a>
		</div>
	</div>
	<div  transition="fade" class="overlay" style="display: none;">
		<div class="dialog" style="display: none;">
			<div class="title">
				<h1>微信咨询</h1>
				<a href="javascript:;" class="close-dialog"></a>
			</div>
			<div  class="wx-dlg">
				<div class="wx-dlg-info">
					<p>第1步：点击微信左上角，关闭当前页面</p>
					<p>第2步：点击“小键盘”，输入文字或语音</p>
				</div>
				<div class="wx-img-wrap">
					<em></em>
					<p class="clickUs">点击小键盘，输入您的问题</p>
				</div>
			</div>
			<div  class="wx-button">知道了</div>
		</div>
	</div>
</div>
