/*a, button, img, li, span, ul {
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
 width: 100%;
 margin: 0 auto;
 background: #fff;
 line-height: 1.6
}*/

.textWrap h1 {
 margin-left: 0.62507rem;
 margin-top: 0.4688rem;
 color: #333;
 font-size: 0.75008rem;
 text-align: center
}

.textWrap .convention-title {
 padding-top: 0.37504rem;
 padding-bottom: 0.37504rem;
 background: #fff;
 color: #222
}

.textWrap .convention-title h5 {
 margin-left: .533333rem;
 font-size: .506667rem
}

.textWrap .convention-title i {
 margin-left: 0.62507rem
}

.textWrap .border-none {
 border-bottom: 0
}

.textWrap .downImg {
 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIABAMAAAAGVsnJAAAAMFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAv3aB7AAAAD3RSTlMAGNe9CgcGtbOytLe2f5VrjfCKAAAEr0lEQVR4XuzSMQ2AMBhGwW8gKEIACUZYO6AJVzXC1Ak0dCN/7iXn4EUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBP155CLT2TrfeWQh3jzFztfQot8HFLv7w+h3EAhtkc+cw78AqUX2fzBk6zIYimy5qqqRJVkiXZS7Edwd/5EMzTbt+nXne/23Xt9rzcBTBzggDMbBJ4PLMICABmnm8BeDF/OkEAZr4+2gOwCBAAFoGjABYBAcAmgSczi4ACYObNYQBv528nCMDM96ME7s8sAg6AmdfHjrNn868TBGDmy8Wh496MQGABWD3dBTBzAgAEgQCwCAAAdgicfZwxCCwAq5//J/BwRiGwAKw+HAEgEFgANgk8mHEILACrd32cvZ9xCCwAqx8XBwAABBaAPQKfZoIAAGDmVy43JggQAOZmPldvBQECwOV5Pk3AB9AEfABNwAfQBHwATQAD4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEGIBLYB+ATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoACKBfQA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBiAS2AfgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAAigX0APoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQYgEtgH4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAIoF9AD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEGIBLYB+ATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoACKBfQA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBiAS2AfgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAAigX0APoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQYgEtgH4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAIoF9AD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BLwATQBH0AT8AE0AR9AE9gB4BNoAD6BBuATaAA+gQbgE2gAPoEGgBPYAGATaAA+gQbgE2gAPoEG4BNoAD6BDQAqgQbgE9gAYBLYAGASCAAggSgA2AQagE+gAfgEGoBPoAH4BBqAT6AB+AQagE+gAfgEGoBPoAH4BBqAT6AB+AQagE8gAVQ+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuAT2ABgE2gAPoHL89/t0lEVgEAQxLDFAW8doAD/ts4AfIyMSWOhU9p2D5AFMkCrbR4gC2SAXpsBmhfIAL32me6ue7oDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAPOEw5KwVifV4AAAAASUVORK5CYII=);
 background-size: 100%;
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg)
}

.textWrap .down, .textWrap .downImg {
 float: right;
 margin-right: 0.31253rem;
 margin-top: 0.25003rem;
 width: 0.37504rem;
 height: 0.37504rem
}

.textWrap .down {
 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIABAMAAAAGVsnJAAAAMFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAv3aB7AAAAD3RSTlMAGNe9CgcGtbOytLe2f5VrjfCKAAAEr0lEQVR4XuzSMQ2AMBhGwW8gKEIACUZYO6AJVzXC1Ak0dCN/7iXn4EUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBP155CLT2TrfeWQh3jzFztfQot8HFLv7w+h3EAhtkc+cw78AqUX2fzBk6zIYimy5qqqRJVkiXZS7Edwd/5EMzTbt+nXne/23Xt9rzcBTBzggDMbBJ4PLMICABmnm8BeDF/OkEAZr4+2gOwCBAAFoGjABYBAcAmgSczi4ACYObNYQBv528nCMDM96ME7s8sAg6AmdfHjrNn868TBGDmy8Wh496MQGABWD3dBTBzAgAEgQCwCAAAdgicfZwxCCwAq5//J/BwRiGwAKw+HAEgEFgANgk8mHEILACrd32cvZ9xCCwAqx8XBwAABBaAPQKfZoIAAGDmVy43JggQAOZmPldvBQECwOV5Pk3AB9AEfABNwAfQBHwATQAD4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEGIBLYB+ATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoACKBfQA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBiAS2AfgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAAigX0APoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQYgEtgH4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAIoF9AD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEGIBLYB+ATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoACKBfQA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBiAS2AfgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAAigX0APoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQYgEtgH4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAIoF9AD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BLwATQBH0AT8AE0AR9AE9gB4BNoAD6BBuATaAA+gQbgE2gAPoEGgBPYAGATaAA+gQbgE2gAPoEG4BNoAD6BDQAqgQbgE9gAYBLYAGASCAAggSgA2AQagE+gAfgEGoBPoAH4BBqAT6AB+AQagE+gAfgEGoBPoAH4BBqAT6AB+AQagE8gAVQ+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuATaAA+gQbgE2gAPoEG4BNoAD6BBuAT2ABgE2gAPoHL89/t0lEVgEAQxLDFAW8doAD/ts4AfIyMSWOhU9p2D5AFMkCrbR4gC2SAXpsBmhfIAL32me6ue7oDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAPOEw5KwVifV4AAAAASUVORK5CYII=);
 background-size: 100%;
 -webkit-transform: rotate(180deg);
 transform: rotate(180deg)
}

.textWrap .convention-hide {
 font-size: 0.4688rem;
 line-height: 1.4;
 padding-bottom: 0.62507rem;
 padding-left: 0.62507rem;
 padding-right: 0.31253rem;
 background: #f6f6f6;
 color: #4c4c4c
}

.textWrap .convention-hide a {
 color: #1f8cff
}

.textWrap .convention-hide p {
 padding-top: 0.37504rem;
 padding-left: 0.15627rem;
 color: #4c4c4c
}

.textWrap .convention-hide b {
 color: #000
}

[data-dpr="1"] .li-border-bottom {
 border-bottom: .5px solid #d7d7d7
}

[data-dpr="2"] .li-border-bottom {
 border-bottom: 1px solid #d7d7d7
}

[data-dpr="3"] .li-border-bottom {
 border-bottom: 1.5px solid #d7d7d7
}

.font-bold {
 font-weight: 700
}
