.help-rule {
	padding-top: 0.31253rem;
	background: #fff
}
.help-rule h1 {
	margin: 0 0 0.31253rem 0.4688rem;
	font-size: 0.50005rem;
	color: #333;
	font-weight: 700
}
[data-dpr="1"] .help-rule h1 {
	border-bottom: .5px solid #bbb
}
[data-dpr="2"] .help-rule h1 {
	border-bottom: 1px solid #bbb
}
[data-dpr="3"] .help-rule h1 {
	border-bottom: 1.5px solid #bbb
}
.help-rule ul {
	height: 100%;
	padding-bottom: 0.78133rem;
	padding-left: 0.4688rem;
	font-size: 0.43755rem;
	color: #282727
}
.help-rule ul li {
	position: relative;
	width: 95%;
	height: 1.56267rem;
	line-height: 1.56267rem
}
.help-rule ul li span {
	margin-left: 0.31253rem;
	color: #6a6868
}
.help-rule ul li span em {
	color: #fa9c00;
	font-weight: 700
}
.help-rule ul li .wait-font {
	margin-left: 0.65632rem
}
.help-rule ul li .arrow {
	position: absolute;
	right: 0.15627rem;
	margin-top: 0.68757rem;
	width: 0.32816rem;
	height: 0.17189rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAALCAYAAACQy8Z9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACwSURBVHjanNJtDcIwEIDhlzqYhVooEjoLkwAbCMACBsgCEoaE1QIWamEW+HNNLnys7S5p+uOuz12a2536noJwchbgqRO3cfwqNoXgDByACbjkHuRQK1AE9sBDUL8VtTIhQCf3EQjSyNeiGmxlUlSDVdhUghqOwHQeBp9DE9isgBpeBHb/UA12GRDJtwq2v9CrAgNlEaW+AeYEJzR9eg2Ylv/1CRuZ0G0BFRzU2t3fAwBJKDRhh0VJDQAAAABJRU5ErkJggg==) 0 0 no-repeat;
	background-size: 100%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.help-rule ul li .arrow-trans {
	position: absolute;
	right: 0.18752rem;
	margin-top: 0.68757rem;
	width: 0.32816rem;
	height: 0.17189rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAALCAYAAACQy8Z9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACwSURBVHjanNJtDcIwEIDhlzqYhVooEjoLkwAbCMACBsgCEoaE1QIWamEW+HNNLnys7S5p+uOuz12a2536noJwchbgqRO3cfwqNoXgDByACbjkHuRQK1AE9sBDUL8VtTIhQCf3EQjSyNeiGmxlUlSDVdhUghqOwHQeBp9DE9isgBpeBHb/UA12GRDJtwq2v9CrAgNlEaW+AeYEJzR9eg2Ylv/1CRuZ0G0BFRzU2t3fAwBJKDRhh0VJDQAAAABJRU5ErkJggg==) 0 0 no-repeat;
	background-size: 100%;
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}
.help-rule ul .li-border-bottom {
	border-bottom: 0.03125rem dashed #d1d1d1
}
.help-rule ul .li-no-border {
	border-bottom: 0
}
.help-rule ul .hidden-ctn {
	width: 100%;
	border-bottom: 0.03125rem dashed #d1d1d1;
	padding-bottom: 0.62507rem
}
.help-rule ul .hidden-ctn section {
	width: 96%;
	height: 100%;
	background: #f6f6f6;
	padding: 0.15627rem 0 0 0.15627rem;
	font-size: 0.43755rem;
	padding-bottom: 0.31253rem
}
.help-rule ul .hidden-ctn em {
	position: absolute;
	margin-left: 0.25003rem;
	margin-top: -0.31253rem;
	width: 0.31253rem;
	height: 0.31253rem;
	background: #f6f6f6;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg)
}
.help-rule ul .hidden-ctn .link-hover {
	color: #0092ff
}
.help-rule i {
	font-style: normal
}
.plan-table {
	width: 95%;
	margin: 0 auto 0.31253rem;
	font-size: 0.37504rem;
	text-align: center;
	color: #6a6868
}
[data-dpr="1"] .plan-table {
	border: .5px solid #979797
}
[data-dpr="2"] .plan-table {
	border: 1px solid #979797
}
[data-dpr="3"] .plan-table {
	border: 1.5px solid #979797
}
.plan-table th {
	width: 1.56267rem;
	height: 1.09387rem;
	border: 0.03125rem solid #979797
}
.plan-table td {
	height: 0.78133rem;
	border: 0.03125rem solid #979797
}
.plan-table td .yes-icon {
	display: inline-block;
	width: 0.4688rem;
	height: 0.31253rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAAXNSR0IArs4c6QAAArRJREFUSA291d9PUlEcAPDv4ZdefsyRErZw6ykumbzwoPRrCIjS1pv9CbXa+j/6C3L13Fsvlk6oLZ3rB0VFGOrEHuwhHQ4vSKWCgff0/V7DkfNKZHi2O8659/D98D33ew4MjrE5nRctAOVHAMygOS63u9tnBqhEgcMQww5ezW+EVipFRPklBuxtmxUGm56x2x0yVcrFyG80Tmg8Hv/eVJjQn6VCBIBfxvf6zmSxKCitsa5ZC62g24UJDnAFGLw3my2hROL5t6qndbt7HVarqJekL8XqzaN+ejzXjKVifoJz8DEGHwTBGEomp/ZQiq/ZLvEY5z/SoujtOSpI3yd0cyOLKEeUJVoF48DMzHRhf2wNA81DLPEOLu9MulwXzu+f0MjY6/UKGxvZ8SqqN+gPRCmmVsotT9lsXW1YdQHO5et2+5nI2trXtUZAmktoPr8zjkkEMNOPhM7OvlpXi6OlB5K0/Oxkh8OKheDnMh9GPNoITuh6Th7DUEE8GJJavXZgbi6mipKpwNSRcitPbR2OE1j6Ct7Z6cDMV+pm7vP5WqVseYwDH8AwMzq9Njg//yZPMQ9rezBNUvD20+3YRZwNd57qmshmlyW1AISuZopPEA3hPv3ENJbgwsKLuijF+wOmG4hHbTaHDQukn++AKr6Lbj3GLTO4i5oD6fRkjmL8TTvw5Eqn43eAsRHMxF4py1M9Z71ibbBwONySyWyNKihjKTMIwUZQiqX6J4EZM1HsvYdVehsPgVUOet/i4utFQpeW8qO4C8JYvbMmLvgTn6dVX0ftD67tq8I0ifBzYu+IzOEW4hkdsKEyh7v45CqO5wRjiz+ZfFm3AGvBav9QuIq7nH33cdlv4ljGCw8dmBdMLf3/ilLcujBNoswRf4D4DUINrTp/KhXL0rOmNwV39QU9nmDb/8B+AVxyMK3txRh9AAAAAElFTkSuQmCC) 0 0 no-repeat;
	background-size: 100%
}
.plan-table td .no-icon {
	display: inline-block;
	width: 0.31253rem;
	height: 0.31253rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAmlJREFUOBGdlE9rE1EQwN/bbUWoIJLdKDXJLdkEm1xSN21EsD0Igh56CFgvkibqxX6HfAn1AyiC2GBvthet+GfrzRCbrJBDkM3BdhclTcii6T5nFl7Ybk2bOLDMe29mfjs7M2+pomTylJH5+rftB5TC6j8kHp/PEsdZFScjdycoIVcZYfmEMkcYY2NDXRhzNoBhE2JEhNvLN4qE0qdwcC8Rn3sCUHjHaDKAMWYL4sTizo7WcCNLpZIQV9RnSkxliqI+HgWKsLiSaUPMbiKRneEpDLLJ5XJitfIdM12mAn2k658fcie/9mdWr3/6yn1EvqjVamxhMbv+Y7etQDHzcuBiwLRar7md6+Ng6DMA4gahyWR0vdP5k4BtPiiFzgF0A20oJ8HQ5xAQD5rNpgPQV91O/xLUMi/L4bOmaWyOAsP4QQ1x45V0+v5kd//LCxjMJUrJc3C9BS9wu+mtmTcG10OBaHShncomgBbA1aaCoOq6VkXbMBGGGfC8261eBjULj0MIOw3qDp4fJ0dqyJ29NYMxugaXcpoxsiIHwqdMy3jD/fz6n0AvDG+Arm9Xzl/Ilh2nnYZMVyQpJFpW660fhvsjQD+MN2Bvr3agqqnyz1+9WcJIAbpPoftbfugh4DAYD2o0GgcwUmUYKRUaVZADIQZz+o7bUQ+AJ8F4EMxpfyYZXevu9zNwTQuSFO5blvGe213gqDAehNBoLLLWsxn+84qyHPptmq0PaBfHhXGoYRj9WCzy0rZJFj6/GJTCNnT/o0CYszTKDeAgr9Y0rTd1JngT/vRbCE2lrk+59lQqE/I6jrtGkKJcmca4v30DcWf/Ni1IAAAAAElFTkSuQmCC) 0 0 no-repeat;
	background-size: 100%
}
.plan-table .continue-left {
	text-align: left
}
.plan-table .th-one {
	width: 2.344rem
}
.accident-table {
	margin-top: 0.15627rem
}
.child-table {
	width: 95%;
	margin: 0.31253rem auto;
	font-size: 0.37504rem;
	text-align: center;
	color: #6a6868;
	border: 0.03125rem solid #979797
}
.child-table th {
	width: 4.40672rem;
	height: 1.09387rem;
	border: 0.03125rem solid #979797
}
.child-table td {
	height: 0.78133rem;
	border: 0.03125rem solid #979797
}
.child-table td .yes-icon {
	display: inline-block;
	width: 0.4688rem;
	height: 0.31253rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAAXNSR0IArs4c6QAAArRJREFUSA291d9PUlEcAPDv4ZdefsyRErZw6ykumbzwoPRrCIjS1pv9CbXa+j/6C3L13Fsvlk6oLZ3rB0VFGOrEHuwhHQ4vSKWCgff0/V7DkfNKZHi2O8659/D98D33ew4MjrE5nRctAOVHAMygOS63u9tnBqhEgcMQww5ezW+EVipFRPklBuxtmxUGm56x2x0yVcrFyG80Tmg8Hv/eVJjQn6VCBIBfxvf6zmSxKCitsa5ZC62g24UJDnAFGLw3my2hROL5t6qndbt7HVarqJekL8XqzaN+ejzXjKVifoJz8DEGHwTBGEomp/ZQiq/ZLvEY5z/SoujtOSpI3yd0cyOLKEeUJVoF48DMzHRhf2wNA81DLPEOLu9MulwXzu+f0MjY6/UKGxvZ8SqqN+gPRCmmVsotT9lsXW1YdQHO5et2+5nI2trXtUZAmktoPr8zjkkEMNOPhM7OvlpXi6OlB5K0/Oxkh8OKheDnMh9GPNoITuh6Th7DUEE8GJJavXZgbi6mipKpwNSRcitPbR2OE1j6Ct7Z6cDMV+pm7vP5WqVseYwDH8AwMzq9Njg//yZPMQ9rezBNUvD20+3YRZwNd57qmshmlyW1AISuZopPEA3hPv3ENJbgwsKLuijF+wOmG4hHbTaHDQukn++AKr6Lbj3GLTO4i5oD6fRkjmL8TTvw5Eqn43eAsRHMxF4py1M9Z71ibbBwONySyWyNKihjKTMIwUZQiqX6J4EZM1HsvYdVehsPgVUOet/i4utFQpeW8qO4C8JYvbMmLvgTn6dVX0ftD67tq8I0ifBzYu+IzOEW4hkdsKEyh7v45CqO5wRjiz+ZfFm3AGvBav9QuIq7nH33cdlv4ljGCw8dmBdMLf3/ilLcujBNoswRf4D4DUINrTp/KhXL0rOmNwV39QU9nmDb/8B+AVxyMK3txRh9AAAAAElFTkSuQmCC) 0 0 no-repeat;
	background-size: 100%
}
.child-table td .no-icon {
	display: inline-block;
	width: 0.31253rem;
	height: 0.31253rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAmlJREFUOBGdlE9rE1EQwN/bbUWoIJLdKDXJLdkEm1xSN21EsD0Igh56CFgvkibqxX6HfAn1AyiC2GBvthet+GfrzRCbrJBDkM3BdhclTcii6T5nFl7Ybk2bOLDMe29mfjs7M2+pomTylJH5+rftB5TC6j8kHp/PEsdZFScjdycoIVcZYfmEMkcYY2NDXRhzNoBhE2JEhNvLN4qE0qdwcC8Rn3sCUHjHaDKAMWYL4sTizo7WcCNLpZIQV9RnSkxliqI+HgWKsLiSaUPMbiKRneEpDLLJ5XJitfIdM12mAn2k658fcie/9mdWr3/6yn1EvqjVamxhMbv+Y7etQDHzcuBiwLRar7md6+Ng6DMA4gahyWR0vdP5k4BtPiiFzgF0A20oJ8HQ5xAQD5rNpgPQV91O/xLUMi/L4bOmaWyOAsP4QQ1x45V0+v5kd//LCxjMJUrJc3C9BS9wu+mtmTcG10OBaHShncomgBbA1aaCoOq6VkXbMBGGGfC8261eBjULj0MIOw3qDp4fJ0dqyJ29NYMxugaXcpoxsiIHwqdMy3jD/fz6n0AvDG+Arm9Xzl/Ilh2nnYZMVyQpJFpW660fhvsjQD+MN2Bvr3agqqnyz1+9WcJIAbpPoftbfugh4DAYD2o0GgcwUmUYKRUaVZADIQZz+o7bUQ+AJ8F4EMxpfyYZXevu9zNwTQuSFO5blvGe213gqDAehNBoLLLWsxn+84qyHPptmq0PaBfHhXGoYRj9WCzy0rZJFj6/GJTCNnT/o0CYszTKDeAgr9Y0rTd1JngT/vRbCE2lrk+59lQqE/I6jrtGkKJcmca4v30DcWf/Ni1IAAAAAElFTkSuQmCC) 0 0 no-repeat;
	background-size: 100%
}
.people-table {
	text-align: left
}
.people-table th {
	padding-left: 0.15627rem
}
.people-table .th-two {
	width: 7.18827rem
}
.people-table td {
	padding-left: 0.15627rem
}









a, button, img, li, span, ul {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
i {
	font-style: normal
}
.root {
	width: 100%;
	margin: 0 auto;
	padding-bottom: .666667rem;
	background: #fff;
	line-height: 1.6
}
.ruleIp-tab {
	width: 100%;
	overflow: hidden;
	height: 1.8752rem
}
.ruleIp-tab .tab-wrap {
	width: 110%;
	height: 1.8752rem
}
.ruleIp-tab .tab-wrap span {
	display: block;
	float: left;
	width: 23%;
	height: 1.81269rem;
	line-height: 1.81269rem;
	border-bottom: 0.03125rem solid #dadada;
	text-align: center;
	font-size: 0.4688rem
}
[data-dpr="1"] .ruleIp-tab .tab-wrap span {
	border-right: .5px solid #dadada
}
[data-dpr="2"] .ruleIp-tab .tab-wrap span {
	border-right: 1px solid #dadada
}
[data-dpr="3"] .ruleIp-tab .tab-wrap span {
	border-right: 1.5px solid #dadada
}
.ruleIp-tab .tab-wrap .tab-bootom {
	border-bottom: 0.03125rem solid #dadada
}
.tab-active {
	color: #0092ff;
	border-bottom: 0.03125rem solid #0092ff!important
}
.textWrap h1 {
	margin-left: 0.62507rem;
	margin-top: 0.4688rem;
	color: #333;
	font-size: 0.4688rem;
	text-align: center
}
.textWrap b {
	color: #000
}
.textWrap .plantitle {
	padding-top: 0.37504rem;
	padding-bottom: 0.37504rem;
	background: #fff;
	color: #222
}
.textWrap .plantitle h5 {
	margin-left: 0.62507rem;
	font-size: 0.4688rem
}
.textWrap .plantitle i {
	margin-left: 0.62507rem
}
.textWrap .border-none {
	border-bottom: 0
}
.textWrap img {
	float: right;
	margin-right: 0.31253rem;
	margin-top: 0.25003rem;
	width: 0.37504rem;
	height: 0.37504rem
}
.textWrap .downImg {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
.textWrap .down {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.textWrap .ipList {
	font-size: 0.40629rem;
	padding-bottom: 0.62507rem;
	padding-left: 0.62507rem;
	padding-right: 0.31253rem;
	background: #f6f6f6;
	color: #4c4c4c
}
.textWrap .ipList p {
	padding-top: 0.37504rem;
	padding-left: 0.15627rem
}
.textWrap .ipList .table {
	border: 0.04688rem solid #000;
	background: #f2f2f2;
	margin-left: 0.62507rem;
	font-size: 0.43755rem
}
.textWrap .ipList .table th {
	border: .04rem solid #000;
	height: 1.25013rem
}
.textWrap .ipList .table td, .textWrap .ipList .table tr {
	border: 0.04688rem solid #000;
	height: 1.25013rem
}
.textWrap .ipList .table td {
	text-align: center
}
.textWrap .accidentTable td {
	line-height: 0.78133rem!important
}
[data-dpr="1"] .li-border-bottom {
	border-bottom: .5px solid #d7d7d7
}
[data-dpr="2"] .li-border-bottom {
	border-bottom: 1px solid #d7d7d7
}
[data-dpr="3"] .li-border-bottom {
	border-bottom: 1.5px solid #d7d7d7
}
