.article-wrap {
	width: 92%;
	margin: .453333rem 0 0 .4rem;
	padding-bottom: .533333rem
}
.article-wrap h1 {
	margin-bottom: .453333rem;
	font-size: .586667rem;
	color: #111;
	line-height: .786667rem;
	text-align: left;
	font-weight: 700
}
.article-wrap .content-wrap {
	margin-top: .533333rem
}
.article-wrap h2 {
	margin: .533333rem 0 .266667rem;
	color: #333;
	font-size: .4rem;
	text-align: left;
	font-weight: 700
}
.article-wrap p {
	margin-bottom: .266667rem;
	color: #666;
	font-size: .346667rem;
	line-height: .533333rem
}
.article-wrap table {
	text-align: center;
	margin-bottom: .266667rem;
	font-size: .32rem;
	color: #666;
	border: 0.03125rem solid #dadada
}
.article-wrap table td, .article-wrap table th, .article-wrap table tr {
	width: 4rem;
	height: .733333rem;
	line-height: .733333rem;
	border: 0.03125rem solid #dadada
}
.article-wrap table td {
	padding: .026667rem .133333rem;
	text-align: left;
	line-height: 1.4
}
.article-wrap .center-table td {
	text-align: center
}
.article-wrap .button-link {
	display: block;
	background: #ffc80a;
	box-shadow: 0 .053333rem .053333rem 0 hsla(0, 0%, 60%, .5);
	border-radius: .08rem;
	border: 0;
	width: 84%;
	height: 1.333333rem;
	margin: .666667rem auto;
	text-align: center;
	line-height: 1.333333rem;
	font-family: PingFangSC-Regular;
	font-size: .426667rem;
	color: #fff
}
.article-wrap .case-list {
	color: #0092ff
}
.article-wrap .tips {
	color: #fa9c02
}
.article-wrap img {
	display: block;
	margin: 0 auto;
	width: 5.026667rem;
	height: 5.253333rem
}
